* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilos pagina inicio*/
.estadio img {
    max-width: 100%;
    height: auto;
}

.ul-icons>img {
    width: 25 px;
    height: 25px;
}

.formulario {
    background-color: rgb(147, 147, 245);color: blacks;
    display: flex;
    justify-content: space-between;
    column-gap: 1px;
    

}