@media (min-width:375px) and (max-width:768px){
    h1{
        color: rgb(201, 156, 201);
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        
    }
    main{
        background-color: rgb(230, 230, 36);
    }

}