

h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(9, 9, 9);
    text-align: center;
    font-size: 2.5em;
} 
main{
    background-color: rgb(214, 210, 214);
    .inicio{
        padding: 20px;
        border-radius: 8px;
        max-width: 800px;
        margin: 20px auto;
}
}